<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Darren's Birthday</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Montserrat&family=Roboto+Mono&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    </head>
    <body class="bodyClass">
        <div class="main-container">
            <form method="post" action="/submit">
                <div class="title-color-section">
                    <div class="top-container">
                        <img src="static/spider-web-png-34733.png" alt="" class="web-icon">
                        <section class="section-title">
                            <h1 class="title">Darren's 26th Birthday Itinerary</h1>
                            <!-- <a href=""></a> -->
                        </section>
                        <img src="static/spider-web-png-34733.png" alt="" class="web-icon">
                    </div>
                </div>
                <div class="thursday-color-container">
                    <div class="day-container">
                        <div class="body-container">
                            <h2 class="date-title">Thursday October 12</h2>
                            <div class="info-pic-container">
                                <div class="left-car-container">
                                    <h2>Freddie Gibbs Concert</h2>
                                    <p>Location: Fete Music Hall</p>
                                    <p>Time: 8:00pm</p>
                                    <p>Price: $30 || <a href="https://www.ticketweb.com/event/freddie-gibbs-fete-music-hall-tickets/13561408">Tickets</a></p>
                                </div>
                                <div class="right-car-container">
                                    <img src="static/freddie-gibbs.webp" alt="car-icon" class="pic-icon">
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="friday-color-container">
                    <div class="day-container">
                        <div class="body-container">
                           <h2 class="date-title">Friday October 13</h2>
                           <section class="info-pic-container">
                               <div class="left-car-container">
                                   <h2>Depart at 10:30am-11:00am</h2>
                                       <div class="car1">
                                           <h4>Car 1</h4>
                                           <ul>
                                               <li>Jamal (Driver)</li>
                                               <li>Mirella</li>
                                               <li>Awa</li>
                                               <li>Chante</li>
                                           </ul>
                                       </div>
                                       <div class="car2">
                                           <h4>Car 2</h4>
                                           <ul>
                                               <li>Manny (Driver)</li>
                                               <li>Josh</li>
                                               <li>Juno</li>
                                               <li>Terrence</li>
                                           </ul>
                                       </div>
                               </div>
                               <div class="right-car-container">
                                    <img src="static/car-icon.png" alt="car-icon" class="pic-icon">
                               </div>
                           </section>
                           <section class="info-pic-container">
                                <div class="left-car-container">
                                    <h4>Dinner Options</h4>
                                    <ul>
                                       <li>Brooklyn Wing House || <a href="https://www.grubhub.com/restaurant/brooklyn-wing-house---cambria-heights-227-01-linden-blvd-queens/3287353">Menu</a></li>
                                       <li>Golden Krust Caribbean || <a href="https://www.goldenkrust.com/menu/">Menu</a></li>
                                       <li>Tropical Jerk Queens || <a href="https://www.tropicaljerkqueens.mknxonline.com/menus/867/onlinemenu#view-menu-nav">Menu</a></li>
                                       <li>New Park Pizza (Howard Beach)</li>
                                       <li>Joe & John's Pizzeria <a href="https://direct.chownow.com/order/16394/locations/23317?add_cn_ordering_class=true">Menu</a></li>
                                       <li>Nick's Pizza <a href="https://nickspizza.hrpos.heartland.us/menu">Menu</a></li>
                                    </ul>
                                    <br>
                                    <h3 style="text-align: center;">OR</h3>
                                    <h3>8 Bit Bites || <a href="https://8bitbitesbk.com/menu">Menu</a> || <a href="https://8bitbitesbk.com/gallery">Gallery</a></h3>
                                </div>
                                <div class="right-car-container">
                                    <img src="static/chicken-icon.png" alt="chicken-icon" class="pic-icon">
                               </div>
                           </section>
                           <section class="info-pic-container">
                                <div class="left-car-container">
                                    <h4>Game Night</h4>
                                    <ul>
                                       <li>Video Games(Smash Bros, Mario Kart, 2K etc.)</li>
                                       <li>Basketball</li>
                                       <li>Card games</li>
                                       <li>Board Games</li>
                                       <li>Drinking Games</li>
                                       <li>Music</li>
                                       <li>Movie Night</li>
                                       <li>We gon have fun and celebrate through the night</li>
                                    </ul>
                                </div>
                                <div class="right-car-container">
                                    <img src="static/F7471.png" alt="cheers-icon" class="pic-icon">
                                </div>
                           </section>
                        </div>
                    </div>
                </div>
                <div class="saturday-color-container">
                    <div class="day-container">
                        <div class="body-container">
                            <h2 class="title">Saturday October 14</h2>
                            <section>
                                <p>12:00pm</p>
                                <h3>BLVD Bistro </h3>
                                <a class = "menu-title" href="https://assets.website-files.com/5feba4dc9063f920e4059a54/64de726a03c2d61f3cdd1034_ALLDAYMENU-7.14.23-B.pdf">
                                    Food
                                </a>
                                <span style="font-size: 12px;">||</span>
                                <a class="menu-title" href="https://assets.website-files.com/5feba4dc9063f920e4059a54/64de726b9d41b91495581926_BARMENU-7.14.23.pdf">
                                    Drinks
                                </a>
                                <p>A black-owned soul food restuarant located near Central Harlem. There is a 90-minute limit for the table.</p>
                            </section>
                            <section>
                                <h3>Central Park</h3>
                                <p>About a 5-minute walk from the brunch spot we're eating at. We can take pictures, get intoxicated, selecta session and chill!
                                    We can do some sight seeing for a while we're down in the city.
                                </p>
                            </section>
                            <br>
                            <section>
                            <h3>Night Activity</h3>
                            <input type="radio" name="activity1" value="area_53"> <label>Area 53</label>
                                <a href="https://area53nyc.com/adventure/">Adventure Park</a>||
                                <a href="https://area53nyc.com/williamsburg/">Paintball</a>||
                                <a href="https://area53nyc.com/dumbo/">Laser Tag</a>
                            <br>
                            <input type="radio" name="activity1" value="kick_axe"> <label>Kick Axe Throwing</label>
                                <a href="https://www.kickaxe.com/faq-brooklyn">FAQ</a><br>
                            <input type="radio" name="activity1" value="gamebox"> <label>Immersive Gamebox</label>
                                <a href="https://immersivegamebox.com/en-US/games">Games</a><br>
                            <input type="radio" name="activity1" value="beat_the_bomb"> <label>Beat the Bomb NY</label>
                                <a href="https://beatthebomb.com/brooklyn/mission-01">FAQ</a><br>
                            <br>
                            <br>
                            <label for="submit-btn">More Options</label>
                            <br>
                            <textarea name="activity2" class="textbox"></textarea>
                            <br>
                            <input type="submit" value="Submit" class="submit-btn">
                            </section>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>